#about {
  display: flex;
  background-color: $theme;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#about-elephant {
  display: flex;
  padding-left: 70px;
  width: 25%;
  height: auto;
}
#about-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  justify-content: center;
  color: white;
  align-items: center;
  text-align: center;
}
#about-text p {
  font-size: $s-size;
}
