//Media queries 1024px - desktop size

@media only screen and (max-width: 900px) {
  #about {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
  #about-elephant {
    display: flex;
    padding-left: 10px;
    width: 75%;
    height: auto;
  }

  #about-text p {
    text-align: center;
    font-size: 1.2rem;
    width: 300px;
    line-height: 1.2;
    padding-top: 10px;
  }

  #about-text {
    text-align: center;
    font-size: 1.2rem;
    width: 300px;
    line-height: 1.2;
    padding-top: 10px;
  }
}
