@media only screen and (max-width: 900px) {
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    justify-content: space-around;
  }

  .items {
    width: 50%;
    padding: 0;
    margin: 0px;
  }
}
