//Media queries 1024px - desktop size
@media only screen and (max-width: 900px) {
  #home-background-container img {
    width: auto;
    height: 100%;
  }

  #main-title {
    font-size: 5em;
  }

  #sub-title {
    font-size: 3em;
  }
}
