// Colors
$theme: #7e6c45;
$footer: #502c15;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//fonts url 
 $mtco-font-url: '../../public/fonts/MTCORSVA.ttf';
